{
  "env": {
    "browser": true
  },
  "extends": "airbnb-base",
  "rules": {
    "indent": ["error", 4],
    "comma-dangle": ["error", "never"],
    "arrow-parens": ["error", "always"],
    "no-param-reassign": ["error", { "props": false }],
    "linebreak-style": 0,
    "import/extensions": ["error", "ignorePackages"]
  }
}
